.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.footer { grid-area: footer; }
body{
    background-color: rgba(39, 37, 37, 0.8);
    /* color:rgba(224, 224, 224, 0.8); */
    font: verdana;
}
.container {
  display: grid;
  border: solid 1px black;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 1px;
  background-color: rgb(255, 72, 0);
  border: 1px solid black;
  align-items: center;
  grid-template-columns: 1fr;
  
}
.container > div {
  background-color: rgba(39, 37, 37, 0.8);
  color:rgba(224, 224, 224, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.menu ul a {
    width: 100%;
    color: black;
    text-decoration: none;
    padding: 0px;
  margin: 0px;
}
.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu ul a li {
    list-style: none;
    text-align: center;

    border-bottom: 1px solid black;
    width: 100%;
    
    padding: 10px 0px 10px 0px;
    background-color: lightslategray;
}
.menu ul a li:hover {
    background-color: darkslategray;
}
.logo {
    max-width: 100px;
    height: auto;
    float: right;
    clear: none;
}